div.content#content
	div.success
		p.success-head Success Stories
		p.success-text We do awesome work, check some of success stories so far
	div.project-form
		div.project-image
		div.project-view
			i(class="fas fa-times")
			p.project-view_head Lorem Ipsum Project
			p.project-view_text.
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
				Lorem Ipsum has been the industry's standard dummy text ever since 
				the 1500s, when an unknown printer took a galley of type and scrambled it 
				to make a type specimen book.
			button.view-button View Project
			
	div.pictures-block
		div.pictures-block_element.no1
			div.red_plus-block
				p.white_plus +
		div.pictures-block_element
			div.red_plus-block
				p.white_plus +
		div.pictures-block_element
			div.red_plus-block
				p.white_plus +
		div.pictures-block_element
			div.red_plus-block
				p.white_plus +
		div.pictures-block_element
			div.red_plus-block
				p.white_plus +
		div.pictures-block_element
			div.red_plus-block
				p.white_plus +
script.
	$('.success-head').waypoint(function(){this.element.classList.add('addressAppearAnimation');}, {offset:"95%"});
		
	