div.golova  
    div.content_Flex
        p(class="Copy") Copyright © 2014 Moderno, All Rights Reserved
        div.icons
            div.shape
                a(href="#")
                    i(class="fab fa-facebook-f")
            div.shape
                a(href="#")
                    i(class="fab fa-twitter")
       
