//- Task side menu bar 54.15-55.45, 1.03.05-1.10.10 Lesson50
//- Task social icons 56.35-57.30 Lesson50 (see in _footer.scss class shape)
div(class= "menu" id="menuAnimate")
    .container-menu
        div(class="hrest" id="btn") x
        .block-menu
            img(src="img/path.png" alt="menu" class="img2")
            h1 Menu
        .block2-menu
            ul
                li
                    a(href="#" id="home" class="home") Home
                li
                    a(href="#" id="services") Services
                li
                    a(href="#" id="stories") stories
                li
                    a(href="#" id="contact") contact
        .block3-menu
            .shape
                <i class="fab fa-facebook-f"></i>
            .shape
                <i class="fab fa-twitter"></i>
    
          